* {
  font-size: 1.1rem;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Darker Grotesque', sans-serif;
}

.loginPage {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.loginPage > h1 {
  font-size: 120px;
  margin-bottom: 30px;
}

.loginPage > .loginForm {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
}

.loginForm > .inputs {
  font-size: 1.3rem;
  width: 400px;
  height: 40px;
  padding-left: 10px;
  margin: 10px 0;

  outline: none;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
}

.loginForm > button {
  padding-bottom: 6px;
  cursor: pointer;
  transition: 300ms;
}

.loginForm > button:hover {
  background-color: green;
}

.loginForm > p {
  color: white;
  text-align: center;
}

.main {
  width: 100vw;
  height: 100vh;
  display: none;
}

.depositFunds__overlay {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgb(0, 0, 0);
  z-index: 1;
}

.depositFunds__input {
  color: white;
  margin-bottom: 30px;
  height: 50px;
  width: 40%;
  padding-left: 5px;
  background-color: black;
  border: 1px solid white;
}

.depositFunds__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  outline: none;
  border: 1px solid;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: 300ms;
}

.depositFunds__button:hover {
  color: white;
  background-color: rgb(12, 192, 66);
}

.depositFunds__exit {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(170, 5, 5);
  outline: none;
  border: 1px solid white;
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-bottom: 10px;
}

.menu {
  display: none;
  position: fixed;
  height: 100vh;
  width: 400px;
  right: 0;
  background-color: rgb(0, 0, 0);
  animation: 500ms fade-in ease-in-out;
}

.menu > .menu-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 100%;
  cursor: pointer;
  padding-bottom: 3px;
  transition: 300ms;
}
.menu-selection:hover {
  background-color: rgb(58, 58, 58);
}

.fa-caret-down {
  cursor: pointer;
  transition: 300ms;
}

.fa-caret-down:hover {
  color: green;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 8vh;
  background-color: black;
  padding: 0 30px;
}

.nav__left {
  font-weight: bold;
  flex: 2;
  display: flex;
  align-items: center;
}

.depositFunds {
  height: 40px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  margin-left: 30px;
  cursor: pointer;
}

.nav__middle {
  flex: 1;
}

.nav__middle > input {
  width: 100%;
  border: none;
  outline: none;
  padding-left: 5px;
  color: white;
  background-color: rgb(49, 49, 49);
  height: 40px;
}

.nav__right {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav__right > .avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.nav__right > .balance {
  font-weight: bold;
  color: green;
  margin-right: 30px;
}

.currentWorth {
  color: grey;
}

.nav__right > .avatar:hover {
  cursor: pointer;
}

.nav__right > .fa-caret-down {
  margin-left: 20px;
}

.main__container {
  display: flex;
  background-color: rgb(20, 20, 20);
  height: 92vh;
}

.main__containerLeft {
  background-color: rgb(200, 200, 200);
  width: 450px;
}

.crypto__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  height: 75px;
  border-bottom: 1px solid white;

  background-color: rgba(31, 31, 31, 0.239);
  transition: 300ms;
}

.crypto__container:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.crypto__container > img {
  display: none;
}

.crypto__keys {
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  height: 35px;
  background-color: rgb(0, 0, 0);
  transition: 300ms;
}

.container__obj {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__containerRight {
  justify-content: center;
  flex: 1;
  background-color: rgb(88, 88, 88);
  overflow-y: scroll;
}

.howToUse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.howToUse > h1 {
  font-size: 40px;
}

.main__containerRight::-webkit-scrollbar {
  width: 8px;
}

.main__containerRight::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

.main__containerRight::-webkit-scrollbar-thumb {
  background-color: rgb(251, 251, 251); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.main__containerRight > p {
  font-size: 100px;
}

.closerLook > img {
  height: 80%;

  transition: 300ms;
}

.closerLook > img:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 5px 3px rgb(75, 75, 75);
}

.searchResults {
  display: flex;
  flex-wrap: wrap;
}

.closerLook {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft {
  height: 280px;
  width: 220px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 60px;
}

.nft:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 300ms;
}

.nft > img {
  height: 100%;
  width: 100%;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 800px) {
  .loginPage > h1 {
    padding: 0 10px;
    font-size: 70px;
    text-align: center;
    margin-bottom: 30px;
  }

  .loginForm > .inputs {
    width: 200px;
  }
}

@media only screen and (max-width: 1050px) {
  .depositFunds {
    display: none !important;
  }

  .main__containerLeft {
    width: 300px;
  }
}

@media only screen and (max-width: 800px) {
  .main__containerLeft {
    display: none;
  }
}
