* {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Darker Grotesque', sans-serif;
}

.loginPage {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    73deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(58, 204, 172) 53%,
    rgb(223, 148, 243) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.loginPage > h1 {
  font-size: 200px;
  margin-bottom: 30px;
  text-align: center;
}

.loginPage > p {
  text-align: center;
}

.loginPage > .loginForm {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
}

.loginForm > .inputs {
  font-size: 16px;
  width: 400px;
  height: 50px;
  padding-left: 12px;
  margin: 10px 0;
  outline: none;
  border: none;
  border-radius: 30px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.178);
}

.loginForm > button {
  color: black !important;
  padding-bottom: 6px;
  cursor: pointer;
  transition: 300ms;
}

.loginForm > button:hover {
  background-color: rgb(240, 240, 240);
}

.loginForm > p {
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
}

.main {
  width: 100vw;
  height: 100vh;
  display: none;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    73deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(58, 204, 172) 53%,
    rgb(223, 148, 243) 100%
  );
}

.depositFunds__overlay {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  backdrop-filter: blur(40px);
  background-color: rgba(0, 0, 0, 0.185);
  z-index: 1;
}

.depositFunds__input {
  color: white;
  margin-bottom: 30px;
  height: 50px;
  width: 200px;
  padding-left: 5px;
  background-color: black;
  border: none;
}

.depositFunds__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  outline: none;
  border: none;
  width: 200px;
  height: 40px;
  cursor: pointer;
  transition: 300ms;
}

.depositFunds__button:hover {
  color: white;
  background-color: rgb(12, 192, 66);
}

.depositFunds__exit {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(170, 5, 5);
  outline: none;
  border: none;
  width: 200px;
  height: 40px;
  cursor: pointer;
  margin-bottom: 10px;
}

.menu {
  z-index: 2;
  display: none;
  position: fixed;
  height: 92vh;
  width: 400px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.993);

  animation: 500ms fade-in ease-in-out;
}

.menu > .menu-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 100%;
  cursor: pointer;
  padding-bottom: 3px;
  transition: 300ms;
}

.menu > .menu-selection > p {
  color: white;
}
.menu-selection:hover {
  transform: translateX(-50px);
  font-weight: bold;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 0 30px;
}

.nav__left {
  font-weight: bold;
  flex: 2;
  display: flex;
  align-items: center;
}

.nav__middle {
  flex: 1;
}

.nav__middle > input {
  width: 100%;
  border: none;
  outline: none;
  padding-left: 5px;
  color: rgb(0, 0, 0);
  background-color: rgba(49, 49, 49, 0.089);
  height: 40px;
}

.nav__right {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav__right > .avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.fa-caret-down {
  cursor: pointer;
  transition: 300ms;
}

.fa-caret-down:hover {
  color: green;
}

.currentWorth {
  color: grey;
}

.nav__right > .avatar:hover {
  cursor: default;
}

.nav__right > .fa-caret-down {
  margin-left: 20px;
}

.main__container {
  display: flex;
  height: 92vh;
}

.balanceMenu {
  color: white;
}

.main__containerLeft {
  z-index: 2;
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 92vh;
  flex-direction: column;

  background-color: rgb(0, 0, 0);
  width: 450px;
  animation: fade-in-left 100ms ease-in-out;
}

.close__containerLeft {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  cursor: pointer;
  height: 40px;
  transition: 300ms;
}

.close__containerLeft:hover {
  background-color: rgb(136, 136, 136);
}

.crypto__container {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  height: 75px;
  border-bottom: 1px solid rgb(184, 184, 184);
  transition: 300ms;
}

.crypto__container:hover {
  background-color: rgba(246, 246, 246, 0.431);
  cursor: pointer;
}

.crypto__container > img {
  display: none;
}

.crypto__keys {
  color: aliceblue;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  height: 35px;
  transition: 300ms;
}

.container__obj {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__containerRight {
  justify-content: center;
  flex: 1;
  overflow-y: scroll;
}

.howToUse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 92vh;
  padding: 2vh;
}

.howToUse > p {
  text-align: center;
  font-size: 40px;
}

.main__containerRight::-webkit-scrollbar {
  width: 8px;
}

.main__containerRight::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.main__containerRight::-webkit-scrollbar-thumb {
  background-color: rgb(251, 251, 251); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.main__containerRight > p {
  font-size: 100px;
}

.closerLook > img {
  height: 80%;
  transition: 300ms;
}

.closerLook > img:hover {
  cursor: pointer;
  box-shadow: 5px 3px rgb(75, 75, 75);
}

.searchResults {
  display: flex;
  flex-wrap: wrap;
}

.closerLook {
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.nft {
  height: 280px;
  width: 220px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 60px;
}

.nft:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 300ms;
}

.nft > img {
  height: 100%;
  width: 100%;
}

.toggle-display {
  display: flex;
}

.toggle-display-block {
  display: block;
}

.alert {
  text-align: center;

  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  z-index: 10;
  margin-top: 30px;

  color: white;
  background-color: tomato;

  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px;
  width: 300px;
  top: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-400px);
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 800px) {
  .loginPage > h1 {
    padding: 0 10px;
    font-size: 70px;
    text-align: center;
    margin-bottom: 30px;
  }

  .loginForm > .inputs {
    width: 200px;
  }
}

@media only screen and (max-width: 1050px) {
  .depositFunds {
    display: none !important;
  }
}

@media only screen and (max-width: 800px) {
  .nav__left {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .main__containerLeft {
    width: 100%;
  }

  .menu {
    width: 100%;
  }

  .closerLook > img {
    width: 90%;
    height: auto;

    transition: 300ms;
  }
}
